-r frame/requirements.txt
docker==4.2.0
Flask-APScheduler==1.11.0
locust~=1.0.2
pytest~=5.2.2
PySnooper~=0.4.0
Flask-RESTful==0.3.8
requests-toolbelt~=0.9.1
cchardet~=2.1.5
fleep~=1.0.1
ffmpeg-python~=0.2.0
natsort~=7.0.1
tencentcloud-sdk-python==3.0.177
aliyun-python-sdk-core~=2.13.20
pydub~=0.24.1
celery~=4.4.6
redis~=3.3.8
aiohttp==3.6.2
opencv-contrib-python==3.4.2.17